* {
	box-sizing: border-box;
	margin: 0 auto;
	font-family: 'Indie Flower', cursive;
}

nav {
  background-color: #2E86AB;
}

.flex-nav {
  display: flex;
  justify-content: center;
  height: auto;
  padding: 1%;
}

.a-nav {
  display: flex;
  align-items: center;
  color: black;
  text-decoration: none;
  font-size: 1vw;
  padding: 1% 4%; 
  background-color: white;
  border-style: solid;
  border-width: 2px 1px 2px 1px;
  border-radius: 5px;
}

.personajes {
	width: 30%;
}

.flex-nav > .a-nav {

  display: flex;
  align-self: center;
  text-align: center;
}

.img-nav > img {
  width: 80%;

}

h1 {
	text-align: center;
}

img {
  width: 100%;
}

.juegos-wrap {
	display: flex;
	justify-content: center;
}

.cuadros-juegos > a  {
	width: 100%;
  margin-bottom: 2%;
}

.cuadros-juegos > a > img {
	width: 40%;
	height: 60%;
	display: flex;
	justify-content: space-around;
}

.blocked > img{
  margin-top: 5%;
	display: flex;
	justify-content: center;
	width: 100%;
}
