* {
	box-sizing: border-box;
	margin: 0 auto;
	
}

body {
	background-color: #F18F01;
}

.general-container {
	display: flex;
	justify-content: center;
	width: 100%;
	
}

.general-container > img {
	width: 100%;
	position: absolute;
}

.entrar {
	width: 100%;
	position: absolute;
	margin-top: 50%;
}

.entrar:hover {
  transform: scale(1.5)
}

div > a > img {
	width: 20%;
	margin-left: 40%;
}

footer {
	display: flex;
	justify-content: center;
	align-content: flex-end;
	width: 100%;
	background-color: #F18F01;
	position: absolute;
}

