*{
  margin: 0 auto;
  font-family: 'Indie Flower', cursive;
}
.container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  height: auto;
}

.opciones{
  width: 50%;
  align-content: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.opciones > img {
  width: 40%;
}

.opciones:hover {
  transform: scale(1.1)
}

.central{
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: auto;
}

.imagenCentral{
  margin: 30px;
  margin-left: 30%;
  width: 40%;
}

.imagenCentral:hover {
  transform: scale(1.8)
}

div > p {
  padding: 2% 7%;
  color: white;
  font-size: 2vw;
  background-color: #F18F01;
  border-radius: 5px;
}
